<a href="https://colab.research.google.com/github/DIPANJAN001/Dipanjanpatra/blob/master/Arghya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [83]:
data = {'State':['s1', 's1', 's1', 's2','s2','s3', 's4', 's5', 's6','s6'], 'Action':['a1','a2','a3','a4','a5','a6','a7','a8','a9','a10'],'Reward':[0,0,0,0,0,0,0,100,0,100],'NextState':['s2', 's3', 's4', 's5','s3','s6', 's6', 's7', 's5','s7']}

In [84]:
StateTable= pd.DataFrame(data, index =['1','2','3','4','5','6','7','8','9','10'])

In [85]:
StateTable

   State Action  Reward NextState
1     s1     a1       0        s2
2     s1     a2       0        s3
3     s1     a3       0        s4
4     s2     a4       0        s5
5     s2     a5       0        s3
6     s3     a6       0        s6
7     s4     a7       0        s6
8     s5     a8     100        s7
9     s6     a9       0        s5
10    s6    a10     100        s7

In [86]:
df={'a1':[0,0,0,0,0,0,0],'a2':[0,0,0,0,0,0,0],'a3':[0,0,0,0,0,0,0],'a4':[0,0,0,0,0,0,0],'a5':[0,0,0,0,0,0,0],'a6':[0,0,0,0,0,0,0],'a7':[0,0,0,0,0,0,0],'a8':[0,0,0,0,0,0,0],'a9':[0,0,0,0,0,0,0],'a10':[0,0,0,0,0,0,0]}

In [87]:
RewardTable=pd.DataFrame(df, index =['s1', 's2', 's3', 's4','s5','s6', 's7'])

In [88]:
StateTable

   State Action  Reward NextState
1     s1     a1       0        s2
2     s1     a2       0        s3
3     s1     a3       0        s4
4     s2     a4       0        s5
5     s2     a5       0        s3
6     s3     a6       0        s6
7     s4     a7       0        s6
8     s5     a8     100        s7
9     s6     a9       0        s5
10    s6    a10     100        s7

In [89]:
StateTable

   State Action  Reward NextState
1     s1     a1       0        s2
2     s1     a2       0        s3
3     s1     a3       0        s4
4     s2     a4       0        s5
5     s2     a5       0        s3
6     s3     a6       0        s6
7     s4     a7       0        s6
8     s5     a8     100        s7
9     s6     a9       0        s5
10    s6    a10     100        s7

In [90]:
RewardTable

    a1  a2  a3  a4  a5  a6  a7  a8  a9  a10
s1   0   0   0   0   0   0   0   0   0    0
s2   0   0   0   0   0   0   0   0   0    0
s3   0   0   0   0   0   0   0   0   0    0
s4   0   0   0   0   0   0   0   0   0    0
s5   0   0   0   0   0   0   0   0   0    0
s6   0   0   0   0   0   0   0   0   0    0
s7   0   0   0   0   0   0   0   0   0    0

In [116]:
df={'1':[0,0,0,0,0,0,0],'2':[0,0,0,0,0,0,0],'3':[0,0,0,0,0,0,0],'4':[0,0,0,0,0,0,0],'5':[0,0,0,0,0,0,0],'6':[0,0,0,0,0,0,0],'7':[0,0,0,0,0,0,0],'8':[0,0,0,0,0,0,0],'9':[0,0,0,0,0,0,0],'10':[0,0,0,0,0,0,0],'11':[0,0,0,0,0,0,0]}

In [117]:
Reward_Table=pd.DataFrame(df, index =['1', '2', '3', '4','5','6', '7'])

In [118]:
Reward_Table

   1  2  3  4  5  6  7  8  9  10  11
1  0  0  0  0  0  0  0  0  0   0   0
2  0  0  0  0  0  0  0  0  0   0   0
3  0  0  0  0  0  0  0  0  0   0   0
4  0  0  0  0  0  0  0  0  0   0   0
5  0  0  0  0  0  0  0  0  0   0   0
6  0  0  0  0  0  0  0  0  0   0   0
7  0  0  0  0  0  0  0  0  0   0   0

In [119]:
data1 = {'State':['1', '1', '1', '2','2','3', '4', '5', '6','6','7'], 'Action':['1','2','3','4','5','6','7','8','9','10','11'],'Reward':[0,0,0,0,0,0,0,100,0,100,0],'NextState':['2', '3', '4', '5','3','6', '6', '7', '5','7',7]}

In [120]:
State_Table= pd.DataFrame(data1, index =['1','2','3','4','5','6','7','8','9','10',11])

In [121]:
State_Table

   State Action  Reward NextState
1      1      1       0         2
2      1      2       0         3
3      1      3       0         4
4      2      4       0         5
5      2      5       0         3
6      3      6       0         6
7      4      7       0         6
8      5      8     100         7
9      6      9       0         5
10     6     10     100         7
11     7     11       0         7

In [122]:
State_Table.loc[State_Table['Action']=='8']['Reward'][0]

100

In [123]:
State_Table.loc[State_Table['State']=='1']['NextState'][0]

'2'

In [124]:
State_Table.loc[State_Table['State']=='1']['NextState'][0]

'2'

In [125]:
State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action']

4    4
5    5
Name: Action, dtype: object

In [126]:
State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action'][0]]['Action'][0]

'4'

In [127]:
State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action'][1]]['Action'][0]

'5'

In [128]:
ser=State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action']

In [129]:
ser

4    4
5    5
Name: Action, dtype: object

In [130]:
State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action'][0]]['Action'][0]

'4'

In [131]:
State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action'][1]]['Action'][0]

'5'

In [132]:
ele=[]
for i in range(len(ser)):
  ele.append(State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action'][i]]['Action'][0])

In [133]:
ele

['4', '5']

In [134]:
State_Table.loc[State_Table['Action']=='4']['Reward'][0]

0

In [135]:
State_Table.loc[State_Table['Action']=='5']['Reward'][0]

0

In [136]:
re=[]
for i in ele:
   re.append(State_Table.loc[State_Table['Action']==i]['Reward'][0])

In [137]:
max(re)

0

In [138]:
def RewardAction(m,n):
  ser=State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action']
  ele=[]
  for i in range(len(ser)):
     ele.append(State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='1']['NextState'][0]]['Action'][i]]['Action'][0])
  
  re=[]
  for i in ele:
     re.append(State_Table.loc[State_Table['Action']==i]['Reward'][0])
  Reward_Table.iloc[i-1][j-1]=State_Table.loc[State_Table['Action']=='j']['Reward'][0]+0.8*max(re)

In [139]:
def Reward_Action(m,n):
  ser=State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']==str(m)]['NextState'][0]]['Action']
  ele=[]
  for i in range(len(ser)):
     ele.append(State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']==str(m)]['NextState'][0]]['Action'][i]]['Action'][0])
  
  re=[]
  if not re:
    re.append(0)
  for i in ele:
     re.append(State_Table.loc[State_Table['Action']==i]['Reward'][0])
  Reward_Table.iloc[m][n]=State_Table.loc[State_Table['Action']==str(n)]['Reward'][0]+0.8*max(re)

In [140]:
ser=State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='3']['NextState'][0]]['Action']
ser

9      9
10    10
Name: Action, dtype: object

In [141]:
ele=[]
for i in range(len(ser)):
    ele.append(State_Table.loc[State_Table['Action']==State_Table.loc[State_Table['State']==State_Table.loc[State_Table['State']=='3']['NextState'][0]]['Action'][i]]['Action'][0])

In [142]:
ele

['9', '10']

In [143]:
re=[]
for i in ele:
     re.append(State_Table.loc[State_Table['Action']==i]['Reward'][0])

In [144]:
re

[0, 100]

In [145]:
Reward_Table.iloc[3][6]=State_Table.loc[State_Table['Action']=='6']['Reward'][0]+0.8*max(re)

In [146]:
Reward_Table.iloc[3][6]

80

In [147]:
Reward_Action(2,4)

In [148]:
Reward_Table.iloc[2][4]

80

In [149]:
Reward_Action(1,1)

In [150]:
Reward_Action(2,5)

In [151]:
Reward_Action(3,6)

In [153]:
Reward_Action(6,10)

In [154]:
Reward_Table

   1  2  3  4   5   6   7  8  9  10   11
1  0  0  0  0   0   0   0  0  0   0    0
2  0  0  0  0   0   0   0  0  0   0    0
3  0  0  0  0  80  80   0  0  0   0    0
4  0  0  0  0   0   0  80  0  0   0    0
5  0  0  0  0   0   0   0  0  0   0    0
6  0  0  0  0   0   0   0  0  0   0    0
7  0  0  0  0   0   0   0  0  0   0  180